<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/dashboard" aria-expanded="false">
                        <i class="me-3 mdi mdi-view-dashboard fs-3" aria-hidden="true"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <!--<li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/dashboard/ejemplo" aria-expanded="false">
                        <i class="me-3 mdi mdi-account-network fs-3" aria-hidden="true"></i>
                        <span class="hide-menu">Ejemplo</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/dashboard/tipomoneda" aria-expanded="false">
                        <i class="me-3 mdi mdi-border-all fs-3" aria-hidden="true" ></i>
                        <span class="hide-menu">Tipo de moneda</span>
                    </a>
                </li>-->
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/dashboard/alcancia" aria-expanded="false">
                        <i class="me-3 mdi mdi-border-all fs-3" aria-hidden="true" ></i>
                        <span class="hide-menu">Alcancía</span>
                    </a>
                </li>
            </ul>
        </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
