<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ 'mod.tipomoneda.title.create' | translate }}</h4>
          <h5 class="card-subtitle">{{ 'mod.tipomoneda.title.create' | translate }}</h5>
        </div>

        <form autocomplete="off" [formGroup]="miFormulario">

          <div class="card-body border-top border-bottom pb-4">
            <div class="row">

              <div class="col-sm-12 col-md-6">
                <div class="mb-2">
                  <label for="tb-nombre" class="control-label col-form-label">{{ 'mod.tipomoneda.label.nombre' | translate }}</label>
                  <input type="text" class="form-control" placeholder="Enter nombre" formControlName="nombre">
                </div>
                <ng-container *ngIf="tipomonedaValSvc.campoNoValido('nombre', miFormulario)">
                  <span class="text-danger">{{ tipomonedaValSvc.campoErrorMsg('nombre', '2', '5',  miFormulario) }}</span>
                </ng-container>
                <span class="text-danger"> {{ tipomonedaValSvc.errorBackend(error, 'nombre', miFormulario) }}</span>
              </div>

            </div>
          </div>

          <app-buttons-create (saveClicked)="save($event)" [link]="['/dashboard/tipomoneda']"></app-buttons-create>

        </form>

      </div>
    </div>
  </div>
