<div class="page-breadcrumb">
    <div class="row align-items-center brand-basic">
        <div class="col-md-8 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">{{ titulo }}</h3>
        </div>
        <div class="col-md-4 col-4 align-self-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#">{{ path }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ titulo }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>