<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ 'mod.alcancia.title.view' | translate }}</h4>
        <h5 class="card-subtitle">{{ 'mod.alcancia.subtitle.view' | translate }}</h5>
      </div>

      <div class="card-body border-top border-bottom pb-4">
        <div class="row" >
          <div class="col-lg-6 col-md-8">
            <div class="card bg-info">
              <div class="card-body">
                <div id="myCarousel" data-ride="carousel" class="carousel slide">
                  <div class="carousel-inner">
                    <div class="carousel-item active flex-column">
                      <h2 class="text-white font-medium">CANTIDAD DE MONEDAS EN LA ALCANCÍA</h2>
                      <p class="text-white font-20">La cantidad de monedas son <b>{{cantidad}}</b> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-8">
            <div class="card bg-primary">
              <div class="card-body">
                <div id="myCarousel2" data-ride="carousel" class="carousel slide vert">
                  <div class="carousel-inner">
                    <div class="carousel-item active flex-column">
                      <h2 class="text-white font-medium">CANTIDAD DE DINERO EN LA ALCANCÍA</h2>
                      <p class="text-white font-20">La cantidad de dinero es <b>${{valor}}</b> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="p-3">
        <div class="action-form col-12 col-md-12">
          <div class="text-end">
            <button type="button" [routerLink]="['/dashboard/alcancia']" class="btn btn-outline-danger waves-effect waves-light font-weight-medium rounded-pill px-4 m-2">
              <i class="ti-close"></i>&nbsp;&nbsp;{{ 'global.btn.cancel' | translate }}
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
